/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --color_header-title: #DB00FF;
  --color_section-title: #FF0070;
  --color_bloks-title: #000028;
  --color_paragraph-title: #000028;
  --color_paragraph: #F1B2CE;
  --color_header-buttons: #FF0070;
  --color_blocks: #FF0070;
  --color_elements: #FF0070;
  --color_button-hover: #FF007066;
  --shadow-title: 4px 4px 0 #FF0070;
  --shadow-main_link: 1.5px 1.5px 0 #FF0070;
  --shadow-ellips: 0 0 4px #FF0070;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --bg-img: url('../images/cover-image-dark.png');
}