/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --color_header-title: #FFC2E6;
  --color_section-title: #353430;
  --color_bloks-title: #353430;
  --color_paragraph-title: #353430;
  --color_paragraph: #353430;
  --color_header-buttons: #353430;
  --color_blocks: #FF8DCB;
  --color_elements: #353430;
  --color_button-hover: #32312D66;
  --font-style-normal: Regular;
  --font-style-bold: bold;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-family: 'IBM Plex Mono', monospace;
  --shadow-title: 4px 4px 0 #FF8DCB;
  --shadow-main_link: 1.5px 1.5px 0 #FF8DCB;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --bg-img: url('../images/cover-image-light.png');
}

.theme-light .header_light-bulb {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --color_header-title: #FFC2E6;
    --color_section-title: #353430;
    --color_bloks-title: #353430;
    --color_paragraph-title: #353430;
    --color_paragraph: #353430;
    --color_header-buttons: #353430;
    --color_blocks: #FF8DCB;
    --color_elements: #353430;
    --color_button-hover: #32312D66;
    --font-style-normal: Regular;
    --font-style-bold: bold;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --font-family: 'IBM Plex Mono', monospace;
    --shadow-title: 4px 4px 0 #FF8DCB;
    --shadow-main_link: 1.5px 1.5px 0 #FF8DCB;
    --bg-img: url('../images/cover-image-light.png');
  }

  .header_light-bulb {
    display: none;
  }
}