.page {
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  width: 100%;
}

.header {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "header-top"
    "header-middle"
    "header-bottom";
  position: relative;
  min-height: 668px;
  padding: 10px;
}

.header_elements-up {
  grid-area: header-top;
  justify-self: end;
  align-self: start;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-top: 1px solid var(--color_elements);
  border-right: 1px solid var(--color_elements);
  border-bottom: none;
  border-left: none;
}

.header_light-bulb {
  position: absolute;
  top: 10px;
  right: 19px;
  line-height: 25px;
  color: var(--color_elements);
  font-family: var(--font-family);
  display: flex;
  gap: 10px;
  align-items: center;

}

.header_light-bulb_ellipse {
  width: 9px;
  height: 9px;
  margin-right: 0;
  border-radius: 50%;
  background-color: var(--color_elements);
  box-shadow: var(--shadow-ellips);
}

.header__theme-menu {
  grid-area: header-top;
  margin-top: 65px;
  justify-self: end;
}

.header__theme-menu-list {
  color: var(--color_header-buttons);
  font-size: var(--font-size-paragraph);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  width: 70px;
}

.header__theme-menu-button:disabled {
  box-shadow: inset 0 0 0 1px var(--color_header-buttons);
  cursor: default;
}

.header__theme-menu-button:not(:disabled):hover {
  box-shadow: inset 0 0 0 1px var(--color_button-hover);
  cursor: pointer;
}

.header__theme-menu-button:not(:disabled):focus {
  outline: none;
  box-shadow: inset 0 -1px 0 var(--color_header-buttons);
}

.header_title {
  grid-area: header-middle;
  justify-self: start;
  align-self: center;
}

.header_title-paragraph {
  grid-area: header-bottom;
  justify-self: end;
  align-self: end;
  height: fit-content;
  margin-bottom: 56px;
  background-color: var(--color_blocks);
  width: 100%;
}

.header_paragraph {
  background-color: var(--color_blocks);
  font-size: var(--font-size-h3-title);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family);
  color: var(--color_bloks-title);
  line-height: var(--font-line-heigth);
}

.header_elements-down {
  grid-area: header-bottom;
  justify-self: start;
  align-self: end;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-left: 1px solid var(--color_elements);
  border-bottom: 1px solid var(--color_elements);
  border-top: none;
  border-right: none;
}

.main {
  margin-top: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
}

.main_section {
  margin-top: 50px;
}

.main_section-title {
  margin-bottom: 20px;
}

.main_first-section {
  margin-top: 0;
}

.main_link {
  text-shadow: var(--shadow-main_link);
  text-decoration: none;
}

.main_link:hover {
  text-decoration: underline;
}

.main_link:focus {
  outline: none;
  border: 1px solid var(--color_paragraph);
}

.main_group-title-noindent {
  margin: 0;
}

.main_one-indent {
  margin: 0 0 10px;
}

.main_two-indent {
  margin: 20px 0 10px;
}

.main_two-one-indent {
  margin: 20px 0 10px;
}

.main_third-bloks {
  margin: 20px 0 10px;
}

.main_gallery {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}

.img {
  width: 100%;
}

.footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "footer-top"
    "footer-middle"
    "footer-bottom";
  width: 100%;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  margin-top: 40px;
  box-sizing: border-box;
  position: relative;
}

.footer_elements-up {
  grid-area: footer-top;
  justify-self: end;
  align-self: start;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-top: 1px solid var(--color_elements);
  border-right: 1px solid var(--color_elements);
}

.footer_title {
  grid-area: footer-middle;
  justify-self: center;
  align-self: center;
}

.footer_elements-down {
  grid-area: footer-bottom;
  justify-self: start;
  align-self: end;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-left: 1px solid var(--color_elements);
  border-bottom: 1px solid var(--color_elements);
}

@media (min-width:768px) {
  :root {
    --font-size-header-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    padding: 20px;
  }

  .header__theme-menu {
    margin-top: 172px;
  }
  
  .header_light-bulb {
    right: 29px;
    top: 20px;
  }

  .header_title-paragraph {
    max-width: 50%;
    margin-bottom: 163px;
  }

  .main {
    margin-top: 60px;
    padding: 0 20px 0 20px;
  }

  .main_section {
    margin-top: 80px;
  }

  .main_group {
    margin-top: 0;
  }

  .main_first-section {
    margin-top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 32.4% 64.85%;
    gap: 2.75%;
    grid-template-areas: "title group";
    align-items: start;
  }

  .main_first-section-title {
    grid-area: title;
    margin: 0;
    align-self: start;
  }

  .main_first-group {
    grid-area: group;
    align-self: start;
    padding: 0;
    margin-top: 0;
  }

  .main_second-section-title {
    max-width: 32.42%;
  }

  .main_second-group {
    align-self: start;
    margin: 0;
    padding: 0;
  }

  .main_third-section {
    width: 100%;
    display: grid;
    grid-template-columns: 32.4% 64.85%;
    gap: 2.75%;
    grid-template-areas: "title group";
    align-items: start;
  }

  .main_third-section-title {
    grid-area: title;
    margin: 0;
    align-self: start;
  }

  .main_third-group {
    grid-area: group;
    align-self: start;
    padding: 0;
    margin-top: 0;
  }

  .main_gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "first first second"
      "third fourth second"
      "third fifth fifth";
    gap: 20px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
  }

  .img {
    height: 100%;
    object-fit: cover;
  }

  .first-img {
    grid-area: first;
  }

  .second-img {
    grid-area: second;
  }

  .third-img {
    grid-area: third;
  }

  .fourth-img {
    grid-area: fourth;
  }

  .fifth-img {
    grid-area: fifth;
  }

  .footer {
    margin-top: 60px;
    padding: 20px;
  }
}

@media (min-width:1024px) {
  .header_title-paragraph {
    margin-bottom: 114px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-top: 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .main_second-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .main_first-section {
    grid-template-columns: 32.01% 65.96%;
    gap: 2.03%;
  }

  .main_third-section {
    grid-template-columns: 32.01% 65.96%;
    gap: 2.03%;
  }

  .main_two-one-indent {
    margin: 0 0 10px;
  }
}